<main>
    <div class="hero flex justify-start md:items-center">
        <div class="hidden md:flex md:flex-col md: text-center w-60 md:ml-10">
            <h1 class="text-3xl my-6">
                My Life,
                <br>
                my Journey
            </h1>
            <p>“Real generosity towards the future lies in giving all to the present.”</p>
        </div>
    </div>
    <div class="text-center md:hidden">
        <h1 class="text-3xl my-6">
            My Life,
            <br>
            my Journey
        </h1>
    </div>
    <div class="flex flex-col items-center mt-6">
        <h5 class="text-xs">See how I got here</h5>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mt-3"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 14l-7 7m0 0l-7-7m7 7V3"
            />
        </svg>
    </div>
    <div class="container flex justify-center items-center mx-auto shadow-lg rounded-md bg-white mt-20 mb-10 h-20">
        <h1 class="text-3xl text-center my-10">Work Experience</h1>
    </div>
    <div class="antialiased text-gray-800">
        <div class="relative container mx-auto px-6 flex flex-col space-y-8">
            <div class="absolute w-2 h-full bg-blue-800 shadow-lg left-17 inset-0 z-0 md:mx-auto md:right-0 md:left-0"></div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/takedalogo.jpg" alt="takeda">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Jul/2020 - Nov/2020</span>
                        <h1 class="text-xl font-bold pt-1">Agile Champion Lab Excellence</h1>
                        <ul class="pt-1 list-disc">
                            <li class="ml-5">Re-organization of the largest QC in the Takeda network</li>
                            <li class="ml-5">Organizational development & strategic planning of optimization projects by introducing a new innovation program</li>
                            <li class="ml-5">Transformation, best practice and continuous improvement initiatives</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/takedalogo.jpg" alt="takeda">
                </div>
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-pointer timeline-pointer-left" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Apr/2019 - Jun/2020</span>
                        <h1 class="text-xl font-bold pt-1">Quality Control Laboratory Supervisor</h1>
                        <ul class="pt-1 list-disc">
                            <li class="ml-5">Agile Project Management designed and implemented for successful achievement of CFR Part 11 compliance of QC Vienna</li>
                            <li class="ml-5">On-call and weekend working time models introduced to expand production capacities</li>
                            <li class="ml-5">Lab Excellence planned and successfully implemented (Lean Lab principles)</li>
                        </ul>
                        <p class="pt-1">Takeda acquisition of Shire in January 2019: Continued to be responsible for In Process Control testing for production at Takeda Vienna, Austria, managing a team of 13 Laboratory Technicians and Specialists. Deputy department head of the Quality Control Coagulation department and member of the QC Vienna leadership team.</p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/shire.png" alt="shire">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Jun/2016 - Dec/2018</span>
                        <h1 class="text-xl font-bold pt-1">Quality Control Laboratory Supervisor</h1>
                        <p class="pt-1">
                            Baxalta - Shire Merger in June 2016: Continued to be responsible for In Process Control testing for production at Shire Vienna, Austria, managing a team of 13 Laboratory Technicians and Specialists. Deputy department head of the Quality Control Coagulation department since June 2017 and member of the QC Vienna leadership team.
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/shire.png" alt="shire">
                </div>
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-pointer timeline-pointer-left" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Apr/2016 - May/2016</span>
                        <h1 class="text-xl font-bold pt-1">Quality Control Laboratory Supervisor</h1>
                        <p class="pt-1">
                            Responsible for In Process Control testing for production at Baxalta Vienna, Austria, managing a team of 13 Laboratory Technicians and Specialists. Member of the QC Vienna leadership team.
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/takedalogo.jpg" alt="takeda">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Jul/2015 - Mar/2016</span>
                        <h1 class="text-xl font-bold pt-1">Laboratory Specialist</h1>
                        <p class="pt-1">
                            Baxalta split from Baxter in July 2015:
                            <br>
                            Responsible for KPI & CAPA/Deviation
                            <br>
                            Management improvement for the QC Vienna Coagulation department
                            <br>
                            Lean Specialist and Facilitator for QC Vienna
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/Baxalta.png" alt="baxalta">
                </div>
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-pointer timeline-pointer-left" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Apr/2013 - Jun/2015</span>
                        <h1 class="text-xl font-bold pt-1">Laboratory Specialist</h1>
                        <p class="pt-1">
                            Lean Specialist and Facilitator for QC Vienna, Validation coordinator for the Coagulation I Laboratory
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/baxter.png" alt="baxter">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Apr/2011 - Mar/2013</span>
                        <h1 class="text-xl font-bold pt-1">Laboratory Technician</h1>
                        <p class="pt-1">
                            Responsible for timely testing of Final Drug Product, Bulk Drug Substance, Stability Studies, Intermediates and Process Improvement Project samples. Close collaboration with Continuous Improvement Coordinators for test method optimisation and improvement. Lean Coordinator of the Coagulation I Lab.
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/baxter.png" alt="baxter">
                </div>
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-pointer timeline-pointer-left" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Oct/2010 - Mar/2011</span>
                        <h1 class="text-xl font-bold pt-1">Manufacturing Operator</h1>
                        <p class="pt-1">
                            Production / Purification II
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/logo_oebh.png" alt="oebh">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Sep/2009 - Aug/2010</span>
                        <h1 class="text-xl font-bold pt-1">Austrian Military Service</h1>
                        <p class="pt-1">
                        Soldier at Military Commando Vienna FM Radetzky Kaserne
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container flex justify-center items-center mx-auto shadow-lg rounded-md bg-white mt-20 mb-10 h-20">
        <h1 class="text-3xl">Education & Certificates</h1>
    </div>
    <div class="antialiased text-gray-800">
        <div class="relative container mx-auto px-6 flex flex-col space-y-8">
            <div class="absolute w-2 h-full bg-blue-800 shadow-lg left-17 inset-0 z-0 md:mx-auto md:right-0 md:left-0"></div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/codefactory.png" alt="codefactoryvienna">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Feb/2021 - Today</span>
                        <h1 class="text-xl font-bold pt-1">Fullstack Web Developer course</h1>
                        <ul class="pt-1 list-disc">
                            Front-end Web Development:
                            <li class="ml-5">Version Control (Git -GitHub)</li>
                            <li class="ml-5">HTML5</li>
                            <li class="ml-5">CSS3</li>
                            <li class="ml-5">JavaScript</li>
                            <li class="ml-5">Bootstrap</li>
                            <li class="ml-5">Project Documentation</li>
                            <li class="ml-5">TypeScript</li>
                            <li class="ml-5">Angular</li>
                        </ul>
                        <ul class="pt-3 list-disc">
                            Back-end Web Development:
                            <li class="ml-5">SQL (MySQL)</li>
                            <li class="ml-5">SCRUM & Requirements Engineering</li>
                            <li class="ml-5">PHP</li>
                            <li class="ml-5">AJAX</li>
                            <li class="ml-5">Symfony PHP framework</li>
                            <li class="ml-5">Software Testing</li>
                            <li class="ml-5">Complementary skills</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/inicite-Logo.jpg" alt="incite-ubit">
                </div>
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-pointer timeline-pointer-left" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Nov/2020 - Jan/2021</span>
                        <h1 class="text-xl font-bold pt-1">Preparation for the state-certified management consultant incl. ISO 20700</h1>
                        <ul class="pt-1 list-disc">
                            <li class="ml-5">Business Administration</li>
                            <li class="ml-5">Finance and accounting</li>
                            <li class="ml-5">Marketing and sales</li>
                            <li class="ml-5">Human Resources</li>
                            <li class="ml-5">Operational management</li>
                            <li class="ml-5">Engineering, technology, data protection/security</li>
                            <li class="ml-5">Corporate law</li>
                            <li class="ml-5">Strategic corporate management</li>
                            <li class="ml-5">Supply Chain Management</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/takedalogo.jpg" alt="takeda">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">06/2020 - 11/2020</span>
                        <h1 class="text-xl font-bold pt-1">Internal training on the Takeda Lab Excellence Program</h1>
                        <p class="pt-1">
                            Lean Lab Excellence principles for optimal laboratory organization & control
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/siemens-logo.png" alt="siemens">
                </div>
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-pointer timeline-pointer-left" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Sep/2018 - May/2019</span>
                        <h1 class="text-xl font-bold pt-1">Siemens Academy of Life</h1>
                        <p class="pt-1">
                            Coaching and advanced management training in exchange with peers of various levels of industry partners.
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/shire.png" alt="shire">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">08/2016 - 09/2016</span>
                        <h1 class="text-xl font-bold pt-1">Shire Orange Belt Certification</h1>
                        <p class="pt-1">
                            Training in problem solving and root cause analysis in a 2-day training followed by practical work for certification using DMAIC tools.
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/baxter.png" alt="baxter">
                </div>
                <div class="timeline-container timeline-container-left">
                    <div class="timeline-pointer timeline-pointer-left" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Apr/2013 - Apr/2014</span>
                        <h1 class="text-xl font-bold pt-1">Baxter Lean Green Belt Certification & DDFP Facilitator</h1>
                        <p class="pt-1">
                            Continous Improvement, Process Improvement, facilitation of > 10 Kaizen based on DMAIC principle (2-3 days workshops), 5S, application of common DMAIC practice & "Design Defect Free Process" (DDFP) projects.
                        </p>
                    </div>
                </div>
            </div>
            <div class="relative z-10">
                <div class="timeline-img">
                    <img class="object-contain" src="/assets/img/rosensteingasse.jpg" alt="hblva_rosensteingasse">
                </div>
                <div class="timeline-container">
                    <div class="timeline-pointer" aria-hidden="true"></div>
                    <div class="bg-white p-6 rounded-md shadow-lg">
                        <span class="font-bold text-blue-800 text-sm tracking-wide">Sep/2004 - Jun/2009</span>
                        <h1 class="text-xl font-bold pt-1">Maturity- and Diploma examination, higher technical education</h1>
                        <p class="pt-1">
                            Major: Biology, Bio- and Genetic Engineering, incl. 2 months internship at "dasLabor - Medizinische Laboratorien Wonnerth & Partner OG"
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
