<main>
    <div class="hero flex justify-start md:items-center">
        <div class="hidden md:flex md:flex-col md: text-center w-60 md:ml-10 lg:ml-24">
            <h3 class="text-2xl">The beautiful thing about learning is that nobody can take it away from you.</h3>
            <div class="mt-6">
                <a href="mailto:michael.darius@reimer.co.at" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                    Contact me
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-10 md:hidden">
        <h3 class="text-2xl text-center w-60">The beautiful thing about learning is that nobody can take it away from you.</h3>
        <div class="mt-4">
            <a href="mailto:michael.darius@reimer.co.at" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                Contact me
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
          </svg>
    </div>
    <div class="container flex justify-center items-center mx-auto bg-white mt-10 h-20">
        <h1 class="text-2xl text-center my-10">Backend Development</h1>
    </div>
    <div class="container mx-auto">

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly">
            <div class="projectimg rounded-md md:w-1/2 my-auto md:ml-4" style="background-image: url(/assets/img/backendproject.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-start md:my-auto py-2 md:py-0 md:pr-4 md:ml-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">27/May/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Backend Project</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center md:text-left p-2 md:p-0">
                    MySQL, Apache Web Server, php, AJAX, RESTful API, Bootstrap 5, HTML5
                <p>
                <p class="text-sm text-center md:text-left p-4 md:p-0 md:py-4">We were a team of five people and I was leading the group to create a web shop with the following features: User Management, Permission management, Cart and Wishlist, Payment and Invoicing via e-mail, Q & A for each product, Review & Rating features for each product, shipping management, product category management. We finished the project from conceptualization to deployment in seven working days.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 md:order-2 my-auto" style="background-image: url(/assets/img/cr13.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-end md:my-auto py-2 md:py-0 md:pl-4 md:mr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">14/May/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 13</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center md:text-right p-2 md:p-0">
                    Symfony, MySQL, Apache Web Server, php, Bootstrap 5, HTML5
                </p>
                <p class="text-sm text-center md:text-right p-4 md:p-0 md:py-4">For this Code Review we used the Symfony framework to create a tourist website with CRUD features including a filter option for certain event categories.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 my-auto md:ml-4" style="background-image: url(/assets/img/cr12.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-start md:my-auto py-2 md:py-0 md:pr-4 md:ml-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">07/May/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 12</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center md:text-left p-2 md:p-0">
                    MySQL, Apache Web Server, php, AJAX, RESTful API, Bootstrap 5, HTML5
                <p>
                <p class="text-sm text-center md:text-left p-4 md:p-0 md:py-4">I created a Travel Website with CRUD (Create Read Update Delete) features, a Google Maps API, and a display in the navigation bar that fetches jokes from an API and displays them using AJAX. The website also provides a basic API for the website database.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 md:order-2 my-auto" style="background-image: url(/assets/img/cr11.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-end md:my-auto py-2 md:py-0 md:pl-4 md:mr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">30/Apr/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 11</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center md:text-right p-2 md:p-0">
                    MySQL, Apache Web Server, php, Bootstrap 5, HTML5
                </p>
                <p class="text-sm text-center md:text-right p-4 md:p-0 md:py-4">The focus of this Code Review was to create a pet shop website with a login system that offers different permission levels and CRUD functionalities for the user profile and the pets (Create Read Update Delete). It also includes a basic pet adoption feature where the admin can also take pets back which will be automatically displayed or removed from the shop.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 my-auto md:ml-4" style="background-image: url(/assets/img/cr10.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-start md:my-auto py-2 md:py-0 md:pr-4 md:ml-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">24/Apr/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 10</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center md:text-left p-2 md:p-0">
                    MySQL, Apache Web Server, php, Bootstrap 5, HTML5
                <p>
                <p class="text-sm text-center md:text-left p-4 md:p-0 md:py-4">I created a database for a library with CRUD functionality (Create Read Update Delete). Additional functions include a detailed view for each item and an overview of the books from each author / publisher.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 md:order-2 my-auto" style="background-image: url(/assets/img/cr9.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-end md:my-auto py-2 md:py-0 md:pl-4 md:mr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">17/Apr/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 09</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                    MySQL, Apache Web Server, draw.io
                </p>
                <p class="text-sm text-center md:text-right p-4 md:p-0 md:py-4">For this Code Review I conceptualized a web shop database structure using brainstorming methodologies (cloud diagram, swim-lane model), entity-relationship modelling, UML-Class diagrams and normalization. The successful result was a database with 13 tables. Another focus was to query through the database using join queries, conditional statements and calculations.</p>
            </div>
        </div>
    </div>

    <div class="container flex justify-center items-center mx-auto bg-white mt-10 h-20">
        <h1 class="text-2xl text-center my-10">Frontend Development</h1>
    </div>
    <div class="container mx-auto">

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly">
            <div class="projectimg rounded-md md:w-1/2 my-auto md:ml-4" style="background-image: url(/assets/img/portfoliosite.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-start md:my-auto py-2 md:py-0 md:pr-4 md:ml-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">9/Apr/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">This portfolio site</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                    Angular, Tailwind CSS, HTML5, TypeScript
                <p>
                <p class="text-sm text-center md:text-left p-4 md:p-0 md:py-4">I focused on learning another CSS framework (Tailwind CSS) on my portfolio page. The animation of the nav collapse was created by utilizing Angular and TypeScript.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 md:order-2 my-auto" style="background-image: url(/assets/img/teamproject.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-end md:my-auto py-2 md:py-0 md:pl-4 md:mr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">1/Apr/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Team Project</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                    Angular, Bootstrap 5, Sass, HTML5, TypeScript
                </p>
                <p class="text-sm text-center md:text-right p-4 md:p-0 md:py-4">We worked on a project in a team of four. I was leading the team and managed the project by using a brainstorming design approach, utilizing Figma, Coolors Color Palette, Miro Planning Board and Kanban Task Management for efficient teamwork. We worked in pairs of two and finished the site in 3 1/2 days.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 my-auto md:ml-4" style="background-image: url(/assets/img/cr6.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-start md:my-auto py-2 md:py-0 md:pr-4 md:ml-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">26/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 06</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                    Angular, Bootstrap 5, Sass, HTML5, TypeScript
                <p>
                <p class="text-sm text-center md:text-left p-4 md:p-0 md:py-4">The focus of this Code Review was to create a travel page with interactive cart functionality by using the Angular ngFor feature.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 md:order-2 my-auto" style="background-image: url(/assets/img/cr5.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-end md:my-auto py-2 md:py-0 md:pl-4 md:mr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">19/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 05</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                  Bootstrap 5, Sass, HTML5, TypeScript
                </p>
                <p class="text-sm text-center md:text-right p-4 md:p-0 md:py-4">Code Review 05 was about creating a travel blog page that utilizes dynamic page generation and manipulation of the DOM by adding a sort feature (ascending and descending order by date).</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 my-auto md:ml-4" style="background-image: url(/assets/img/cr4.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-start md:my-auto py-2 md:py-0 md:pr-4 md:ml-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">12/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 04</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                    JavaScript, Bootstrap 5, Sass, HTML5, TypeScript
                <p>
                <p class="text-sm text-center md:text-left p-4 md:p-0 md:py-4">In this Code Review we focused on generating a page dynamically from a .json file and adding a like button with a sort function to sort the movies by number of likes.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 md:order-2 my-auto" style="background-image: url(/assets/img/cr3.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-end md:my-auto py-2 md:py-0 md:pl-4 md:mr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">05/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 03</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                  Bootstrap 5, Sass, HTML5, JavaScript
                </p>
                <p class="text-sm text-center md:text-right p-4 md:p-0 md:py-4">This Code Review was about applying our knowledge of Bootstrap, Sass and to just create the first JavaScript calculations and to get familiar with the console.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 my-auto md:ml-4" style="background-image: url(/assets/img/cr2.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-start md:my-auto py-2 md:py-0 md:pr-4 md:ml-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">26/Feb/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 02</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                    Sass, HTML5
                <p>
                <p class="text-sm text-center md:text-left p-4 md:p-0 md:py-4">In this Code Review I created a news blog and the focus was to get familiar with dynamic pages and video integration by using Sass and HTML.</p>
            </div>
        </div>

        <div class="flex flex-col rounded-md md:flex-row md:shadow-lg md:justify-evenly mt-14">
            <div class="projectimg rounded-md md:w-1/2 md:order-2 my-auto" style="background-image: url(/assets/img/cr1.png);">
            </div>
            <div class="flex flex-col justify-center items-center shadow-lg md:shadow-none rounded-md md:items-end md:my-auto py-2 md:py-0 md:pl-4 md:mr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">19/Feb/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 01</h2>
                <h3>Technologies:</h3>
                <p class="text-sm text-center p-2 md:p-0">
                  HTML5, CSS
                </p>
                <p class="text-sm text-center md:text-right p-4 md:p-0 md:py-4">This was my first Code Review and I got familiar with the DOM and basic CSS properties. :)</p>
            </div>
        </div>
    </div>
</main>
