<main>
    <div class="hero flex justify-start md:items-center">
        <div class="hidden md:flex md:flex-col md: text-center w-60 md:ml-10">
            <h3 class="text-2xl">The beautiful thing about learning is that nobody can take it away from you.</h3>
            <div class="mt-6">
                <a href="mailto:blablabla9173@hotmail.com" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                    Contact me
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-10 md:hidden">
        <h3 class="text-2xl text-center w-60">The beautiful thing about learning is that nobody can take it away from you.</h3>
        <div class="mt-4">
            <a href="mailto:blablabla9173@hotmail.com" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                Contact me
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
          </svg>
    </div>
    <div class="container flex justify-center items-center mx-auto shadow-lg rounded-md bg-white mt-20 mb-10 h-20">
        <h1 class="text-3xl text-center my-10">Frontend Development</h1>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:pr-8 md:w-1/2">
                <a routerLink="/"><img src="/assets/img/portfoliosite.png" alt="project1"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-start py-5 md:py-0 md:pl-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">9/Apr/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">This portfolio site</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">Angular</li>
                    <li class="ml-5 text-sm">Tailwind CSS</li>
                    <li class="ml-5 text-sm">HTML5</li>
                    <li class="ml-5 text-sm">TypeScript</li>
                </ul>
                <p class="text-sm text-justify pt-2">I focused on learning another CSS framework (Tailwind CSS) on my portfolio page. The animation of the nav collapse was created by utilizing Angular and TypeScript.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:order-2 md:pl-8 md:w-1/2">
               <a href="/teamFiveProject/"><img src="/assets/img/teamproject.png" alt="teamproject"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-end py-5 md:py-0 md:pr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">1/Apr/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Team Project</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">Angular</li>
                    <li class="ml-5 text-sm">Bootstrap 5</li>
                    <li class="ml-5 text-sm">Sass</li>
                    <li class="ml-5 text-sm">HTML5</li>
                    <li class="ml-5 text-sm">TypeScript</li>
                </ul>
                <p class="text-sm text-justify pt-2">We worked on a project in a team of four. I was leading the team and managed the project by using a brainstorming design approach, utilizing Figma, Coolors Color Palette, Miro Planning Board and Kanban Task Management for efficient teamwork. We worked in pairs of two and finished the site in 3 1/2 days.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:pr-8 md:w-1/2">
                <a href="/FE21-CR6-MichaelR/index.html"><img src="/assets/img/cr6.png" alt="codereview6"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-start py-5 md:py-0 md:pl-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">26/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 06</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">Angular</li>
                    <li class="ml-5 text-sm">Bootstrap 5</li>
                    <li class="ml-5 text-sm">Sass</li>
                    <li class="ml-5 text-sm">HTML5</li>
                    <li class="ml-5 text-sm">TypeScript</li>
                </ul>
                <p class="text-sm text-justify pt-2">The focus of this Code Review was to create a travel page with interactive cart functionality by using the Angular ngFor feature.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:order-2 md:pl-8 md:w-1/2">
                <a href="FE21-CR5-MichaelR/html/index.html"><img src="/assets/img/cr5.png" alt="codereview5"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-end py-5 md:py-0 md:pr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">19/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 05</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">TypeScript</li>
                    <li class="ml-5 text-sm">Bootstrap 5</li>
                    <li class="ml-5 text-sm">Sass</li>
                    <li class="ml-5 text-sm">HTML5</li>
                    <li class="ml-5 text-sm">TypeScript</li>
                </ul>
                <p class="text-sm text-justify pt-2">Code Review 05 was about creating a travel blog page that utilizes dynamic page generation and manipulation of the DOM by adding a sort feature (ascending and descending order by date).</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:pr-8 md:w-1/2">
                <a href="FE21-CR4-MichaelR/html/index.html"><img src="/assets/img/cr4.png" alt="codereview4"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-start py-5 md:py-0 md:pl-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">12/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 04</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">JavaScript</li>
                    <li class="ml-5 text-sm">Bootstrap 5</li>
                    <li class="ml-5 text-sm">Sass</li>
                    <li class="ml-5 text-sm">HTML5</li>
                    <li class="ml-5 text-sm">TypeScript</li>
                </ul>
                <p class="text-sm text-justify pt-2">In this Code Review we focused on generating a page dynamically from a .json file and adding a like button with a sort function to sort the movies by number of likes.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:order-2 md:pl-8 md:w-1/2">
                <a href="FE21-CR3-MichaelR/html/index.html"><img src="/assets/img/cr3.png" alt="codereview3"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-end py-5 md:py-0 md:pr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">05/Mar/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 03</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">JavaScript</li>
                    <li class="ml-5 text-sm">Bootstrap 5</li>
                    <li class="ml-5 text-sm">HTML5</li>
                    <li class="ml-5 text-sm">Sass</li>
                </ul>
                <p class="text-sm text-justify pt-2">This Code Review was about applying our knowledge of Bootstrap, Sass and to just create the first JavaScript calculations and to get familiar with the console.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:pr-8 md:w-1/2">
                <a href="FE21-CR2-MichaelR/html/index.html"><img src="/assets/img/cr2.png" alt="codereview2"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-start py-5 md:py-0 md:pl-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">26/Feb/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 02</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">Sass</li>
                    <li class="ml-5 text-sm">HTML5</li>
                </ul>
                <p class="text-sm text-justify pt-2">In this Code Review I created a news blog and the focus was to get familiar with dynamic pages and video integration by using Sass and HTML.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:order-2 md:pl-8 md:w-1/2">
                <a href="FE21-CR01-MichaelR/html/index.html"><img src="/assets/img/cr1.png" alt="codereview1"></a>
            </div>
            <div class="flex flex-col justify-center items-center md:items-end py-5 md:py-0 md:pr-8 md:w-1/2">
                <span class="font-bold text-blue-800 text-sm tracking-wide">19/Feb/2021</span>
                <h2 class="text-xl text-center font-bold md:text-left">Code Review 01</h2>
                <h3>Technologies:</h3>
                <ul class="list-disc">
                    <li class="ml-5 text-sm">HTML5</li>
                    <li class="ml-5 text-sm">CSS</li>
                </ul>
                <p class="text-sm text-justify pt-2">This was my first Code Review and I got familiar with the DOM and basic CSS properties. :)</p>
            </div>
        </div>
    </div>
</main>
