main {
    margin-top: 3rem;
}

img {
    height: 300px;
}

.hero {
    background-image: url("/assets/img/skills.png");
    background-position: 50% 150%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60vh;
}

/* iphone 5/6/7/8 */

@media all and (min-width: 320px) and (orientation: landscape) {
    main {
        margin-top: 5rem;
    }
}

@media all and (min-width: 375px) and (min-height: 667px) {
    .hero {
        background-position: 83% 50%;
        height: 65vh;
    }
}

/* iPhone X */

@media all and (min-width: 375px) and (min-height: 812px) {
    main {
        margin-top: 1.5rem;
    }
    .hero {
        background-position: 77% 50%;
        height: 70vh;
    }
}

/* Tablet  */

@media all and (min-width: 768px) {
    main {
        margin-top: 5rem;
    }
    .hero {
        background-position: 150% 120%;
        height: 40vh;
    }
}

@media all and (min-width: 768px) and (orientation: landscape) {
    .hero {
        background-position: 90% 120%;
        height: 70vh;
    }
}

/* iPadPro */

/* @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2){
    .hero {
        background-position: 150% 50%;
        height: 50vh;
    }
} */

/* Desktop  */

@media only screen and (min-width: 1024px) {
    .hero {
        background-position: 90% 120%;
        height: 70vh;
    }
}