<main>
    <div class="hero flex justify-start md:items-center">
        <div class="hidden md:flex md:flex-col md: text-center w-60 md:ml-10 lg:ml-24">
            <h3 class="text-2xl">“Learning is not attained by chance. It must be sought for with ardor and attended with diligence.”</h3>
            <div class="mt-6">
                <a href="mailto:blablabla9173@hotmail.com" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                    Contact me
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center space-y-10 md:hidden">
        <h3 class="text-2xl text-center w-60">“Learning is not attained by chance. It must be sought for with ardor and attended with diligence.”</h3>
        <div class="mt-4">
            <a href="mailto:blablabla9173@hotmail.com" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                Contact me
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-10">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
          </svg>
    </div>
    <div class="container flex justify-center items-center mx-auto shadow-lg rounded-md bg-white mt-20 mb-10 h-20">
        <h1 class="text-3xl text-center my-10">Web Development</h1>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:pr-8 md:w-1/2">
                <img src="/assets/img/frontend.png" alt="project1">
            </div>
            <div class="flex flex-col justify-center items-center md:items-start py-5 md:py-0 md:pl-8 md:w-1/2">
                <h2 class="text-xl text-center font-bold text-blue-800 md:text-left">Frontend</h2>
                <h3>Technologies:</h3>
                <ul class="flex flex-col items-center pt-2 md:items-start md:list-disc">
                    <li class="md:ml-5 text-sm">Version Control (Git -GitHub)</li>
                    <li class="md:ml-5 text-sm">Tailwind CSS</li>
                    <li class="md:ml-5 text-sm">HTML5</li>
                    <li class="md:ml-5 text-sm">TypeScript</li>
                    <li class="md:ml-5 text-sm">JavaScript</li>
                    <li class="md:ml-5 text-sm">Bootstrap</li>
                    <li class="md:ml-5 text-sm">Angular</li>
                    <li class="md:ml-5 text-sm">Project Documentation</li>
                </ul>
            </div>
        </div>
    </div>
</main>
