<main>
    <div class="hero flex justify-start md:items-center">
        <div class="hidden md:flex md:flex-col md: text-center w-96 mb">
            <h1 class="text-5xl mb-6">Michael Darius Reimer</h1>
            <h3>Developer</h3>
            <h3>Project Manager</h3>
            <h3>Innovator</h3>
            <div class="mt-6">
                <a href="mailto:blablabla9173@hotmail.com" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                    Contact me
                </a>
            </div>
        </div>
    </div>
    <div class="text-center md:hidden">
        <h1 class="text-3xl mt-2 mb-2">Michael Darius Reimer</h1>
        <h3>Developer</h3>
        <h3>Project Manager</h3>
        <h3>Innovator</h3>
        <div class="mt-4">
            <a href="mailto:blablabla9173@hotmail.com" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                Contact me
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
          </svg>
    </div>
    <div class="container mx-auto">
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:pr-8 md:w-1/2">
                <img src="/assets/img/webdev.png" alt="webdev">
            </div>
            <div class="flex flex-col justify-center md:pl-8 md:w-1/2">
                <h2 class="text-xl text-center font-bold md:text-left">Web Developer</h2>
                <p class="text-justify text-sm pt-4">
                    I see Web Development as a craft like woodworking. It takes time and diligence to learn but is as rewarding as any other craft when looking at the product of your investment. It enables people to create extraordinary non-material / digital products and services without the need for heavy supply chains and huge organizations, being able to instantly ship all across the globe for literally no variable cost.</p>
                    <p class="text-justify text-sm pt-2">Learning this craft enables me to engage with the things I love to do most: Creating and Innovating.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:order-2 md:pl-8 md:w-1/2">
                <img src="/assets/img/project.png" alt="project">
            </div>
            <div class="flex flex-col justify-center md:pr-8 md:w-1/2">
                <h2 class="text-xl text-center font-bold md:text-right">Project Manager</h2>
                <p class="text-justify text-sm pt-4">I have been a professional in biopharmaceutical quality control for over 10 years and have led teams through various changes. Throughout my career, I have gained numerous experiences with interdisciplinary groups and have strengths in both operational and strategic management.</p>
                <p class="text-justify text-sm pt-2">
                I take great pleasure in leading teams, nurturing talent and in return demand good collaboration and appropriate performance. With my structured and always goal-oriented way of working, I ensure clarity and transparency.
                </p>
                <p class="text-justify text-sm pt-2">
                Constructive criticism and feedback are very important to me, which is why I encourage open and direct dialog between people in order to overcome common challenges and achieve goals.</p>
            </div>
        </div>
        <div class="flex flex-col md:flex-row px-2 mt-20">
            <div class="flex justify-center md:pr-8 md:w-1/2">
                <img src="/assets/img/innovator.png" alt="innovator">
            </div>
            <div class="flex flex-col justify-center md:pl-8 md:w-1/2">
                <h2 class="text-xl text-center font-bold md:text-left">Innovator</h2>
                <p class="text-justify text-sm pt-4">I'm constantly looking out for new technologies to explore and invest in. My aim is to do my part for the next industrial revolution in the digital age. Web 3.0 and decentralized technology are already re-shaping the world as we know it and I want to take part in shaping the future with the craft of technology and creativity.</p>
            </div>
        </div>
    </div>
</main>
