<main>
    <div class="hero flex justify-start md:items-center">
        <div class="hidden md:flex md:flex-col md: text-center w-96 mb">
            <h1 class="text-5xl mb-6">Michael Darius Reimer</h1>
            <h3>Developer</h3>
            <h3>Project Manager</h3>
            <h3>Innovator</h3>
            <div class="mt-6">
                <a href="#" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                    Contact me
                </a>
            </div>
        </div>
    </div>
    <div class="text-center md:hidden">
        <h1 class="text-3xl mt-2 mb-2">Michael Darius Reimer</h1>
        <h3>Developer</h3>
        <h3>Project Manager</h3>
        <h3>Innovator</h3>
        <div class="mt-4">
            <a href="#" class="px-4 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-800 hover:bg-blue-500">
                Contact me
            </a>
        </div>
    </div>
    <div class="flex justify-center mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
          </svg>
    </div>
</main>
